# This file will be sourced before the /etc/rundeck/profile,
# allowing your exports to take precedence.

RUNDECK_TEMPDIR={{ rundeck_tmpdir }}

RDECK_JVM_SETTINGS="${RDECK_JVM_SETTINGS:- {{ rundeck_jvm_settings }} }"

RDECK_JVM_OPTS="-Drundeck.jaaslogin=true \
       -Djava.security.auth.login.config=/etc/rundeck/jaas-loginmodule.conf \
       -Dloginmodule.name=RDpropertyfilelogin"
export PATH={{ rundeck_overrides_dir }}:$PATH
